.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 5px;
}

.error {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #E04742;
margin:0;
height: 19px;
}