.list {
    padding-top: 14px;
}

.img-bottom {
    width: 212px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.form-list {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
    margin: 18px auto 0;
}

.list-button {
    min-height: 88px;
    max-width: 324px;
    width: 100%;
    border-radius: 46px;
}


@media screen and (max-width: 1050px) {
    .img-bottom {
        display: none;
    }
}
@media screen and (max-width: 928px) {
    .list-button {
        min-height: 128px;
        max-width: 552px;
        width: 100%;
        border-radius: 62px;
        font-size: 32px;
    }

    .form-list {
        flex-direction: column;
        gap: 24px;
        min-height: 550px;
        align-items: center;
        justify-content: flex-start;
        margin-top: 0;
    }
}

@media screen and (max-width: 750px) {
    .list-button {
        min-height: 68px;
        width: 100%;
        border-radius: 50px;
        font-size: 16px;
        line-height: 22px;
    }

    .form-list {
        flex-direction: column;
        max-width: 322px;
        gap: 24px;
        align-items: stretch;
        justify-content: flex-start;
        min-height: 300px;
    }
}


