@import url(./assets/fonts/index.css);

:root {
  font-family: ActayWide, sans-serif;
  color: #000000;
  font-weight: bold;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
