.not-found {
  margin:auto;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.image {
  max-width: 100%;
  height: auto;
}

.image-container {
  width: 394px;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: justify;
  max-width: 677px;
  width: 66%;
}

.not-found-h {
  font-size: 50px;
  margin-top: 0;
}

.not-found-h2 {
  font-size: 40px;
  margin-top: 0;
  color: rgba(0, 0, 0, 0.5);
}

.not-found-p {
  font-size: 24px;
}

.not-found-a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.not-found-a:hover {
  color: #444;
  font-style: bold;
}

.not-found-a:focus {
  color: #444;
  font-style: bold;
}

.buttons {
    max-width: auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-grid;
    display: grid;
    margin: 0 auto 40px;
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
}

.button-label {
    opacity: 70%;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 10px 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-image {
  width: 32px;
  margin-right: 16px;
  margin-left: 0;
}

.button_dark:active .button-image {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.button_dark:hover .button-image {
    -webkit-filter: brightness(0%);
    filter: brightness(0%);
}

@media screen and (max-width: 928px) {

  .not-found {
    justify-content: center;
  }

  .not-found-h {
    margin-top: 0;
    text-align: center;
  }

  .not-found-h2 {
    margin-top: 0;
    text-align: center;
  }

    .image-container {
      display: none;
    }

    .buttons {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        max-width: 552px;
        row-gap: 20px;
        margin-bottom: 50px;
    }

    .buttons > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .button-label {
        font-size: 30px;
        margin: 15px 0;
    }
}



@media screen and (max-width: 750px) {
  .not-found {
    display: flex;
    flex-direction: column;
  }

  .image-container {
    width: 100%;
  }
  .text-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .not-found-h {
    font-size: 28px;
    margin-top: 0;
    text-align: center;
  }

  .not-found-h2 {
    font-size: 28px;
    margin-top: 0;
    text-align: center;
  }

  .not-found-p {
    font-size: 14px;
    text-align: center;
  }

    .title {
        font-size: 30px;
        margin: 0 auto 20px;
    }

    .buttons {
        max-width: 350px;
        margin-bottom: 0;
    }

    .button-label {
        font-size: 25px;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 425px) {
    .title {
        font-size: 28px;
        margin: 0 auto 20px;
        max-width: 312px;
    }

    .buttons {
        max-width: 258px;
    }

    .button-label {
        font-size: 19px;
    }

    .not-found {
      display: flex;
      flex-direction: column;
    }
    .text-container {
      width: 100%;
    }
}