.primary {
    padding: 16px 8px;
}

.img-top {
    width: 199px;
    position: absolute;
    top: 0;
    left: 0;
}

.img-bottom {
    width: 212px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.title {
    font-size: 50px;
    line-height: 100%;
    max-width: 1016px;
    margin: 0 auto 30px;
    display: inline-block;
}

.wrap {
    display: none;
}

.buttons {
    max-width: 840px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -ms-grid;
    display: grid;
    margin: 0 auto 40px;
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
}

.button-image {
    margin: 0 16px;
}

.button-label {
    opacity: 70%;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 10px 0;
}



.button_dark:active .button-image {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

.button_dark:hover .button-image {
    -webkit-filter: brightness(0%);
    filter: brightness(0%);
}

.confirmation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (max-width: 1300px) {
    .title {
        max-width: 800px;
    }
}

@media screen and (max-width: 928px) {
    .img-top {
        width: 199px;
    }
    .img-top {
        display: none;
    }

    .img-bottom {
        display: none;
    }

    .title {
        font-size: 45px;
        margin: 0 auto 48px;
        max-width: 608px;
    }

    .no-wrap {
        display: none;
    }

    .wrap{
        display: inline;
    }

    .buttons {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        max-width: 552px;
        row-gap: 20px;
        margin-bottom: 50px;
    }

    .buttons > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .button-label {
        font-size: 30px;
        margin: 15px 0;
    }
}

@media screen and (max-width: 750px) {
    .title {
        font-size: 30px;
        margin: 0 auto 20px;
    }

    .buttons {
        max-width: 350px;
        margin-bottom: 12px;
    }

    .button-label {
        font-size: 25px;
        margin-bottom: 35px;
    }

}

@media screen and (max-width: 550px) {
    .button-label {
        font-size: 16px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 550px) {
    .title {
        font-size: 28px;
        margin: 0 auto 20px;
        max-width: 312px;
    }

    .buttons {
        max-width: 258px;
        row-gap: 12px;
    }
}